<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="~your Azure Cosmos DB host here~" />
    <add key="PrimaryKey" value="~your auth key here~" />
    <add key="Database" value="~your Azure Cosmos DB database here~" />
    <add key="Container" value="~your Azure Cosmos DB container here~" />
  </appSettings>
</configuration>